@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à Estapar!</h1>
    <p>clique <a href="https://www.estapar.com.br/">AQUI</a> e viste nosso site.</p>
</div>
